<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.83.0" targetFramework="native" />
  <package id="nlohmann.json" version="3.11.2" targetFramework="native" />
  <package id="openssl-vc141-static-x86_64" version="1.1.0" targetFramework="native" />
  <package id="rmt_zlib" version="1.2.8.7" targetFramework="native" />
</packages>